<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>

</footer>
